@tailwind base;
@tailwind components;
@tailwind utilities;


.theme-dark {
    --bg-color: theme(colors.green.100);
    --text-color: theme(colors.blue.500);
    --primary: theme(colors.gray.500);
    --secondary: theme(colors.gray.100);
}

.theme-light {
    --bg-color: theme(colors.blue.100);
    --text-color: theme(colors.red.500);
    --primary: theme(colors.green.500);
    --secondary: theme(colors.green.100);
}
